body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    color: #fdfbfb;
    margin: 2em;
    background-color: #040404;
}

h1, h2, h3 {
    color: #f7f8fa;
}

a {
    color: #f70303;
    display: block;
}

code, pre {
    font-family: 'Courier New', monospace;
}

td {
    padding-right: 20px;
}